<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ksusha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>
<body>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="aligncenter">
                    {% load static %}
                    <img src=" {% static 'ksusha/hello.png' %} " width="450" height="330" alt="hello">
                </p>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center colorR">Меня зовут Цыканова Ксения, я из города Сыктывкар(Республика Коми)</h2>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="aligncenter">
                    {% load static %}
                    <img src=" {% static 'ksusha/my_photo.jpg' %} " width="800" height="450" alt="hello">
                </p>
                <i><h6 class="text-center colorB">Это я в Питере</h6></i>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center colorY">У меня есть собака Сиба-ину(Японская лайка), его имя Шейн Шантарам Акари
                    Айко Катсу, но мы зовём его просто Айко</h2>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="aligncenter">
                    {% load static %}
                    <img src=" {% static 'ksusha/cheems.jpg' %} " width="415" height="332" alt="hello">
                </p>
                <i><h6 class="text-center colorB">Это мой пёс</h6></i>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center colorG">Я учусь играть на барабанах и люблю рисовать! В художке учусь три года, а
                    на барабанах пока только год</h2>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="aligncenter">
                    {% load static %}
                    <img src=" {% static 'ksusha/example1.png' %} " width="450" height="500" alt="hello">
                </p>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center colorB">Я познакомилась с программированием в 7 классе, когда начала учить C++ и
                    решала олимпиадные задачи. Я занималась олимпиадами 3 года(так что немножко понимаю в алгоритмах),
                    но потом бросила. Я решила, что для серьёзных результатов нужно уделять времени больше, чем у меня
                    есть, поэтому сконцентрировалась на других вещах.</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="aligncenter">
                    {% load static %}
                    <img src=" {% static 'ksusha/example2.png' %} " width="220" height="256" alt="hello">
                </p>

            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center colorB">В 8-9 классе я училась в Яндекс Лицее, в 9 также
                    закончила it-школу Samsung. Взять на себя две образовательные программы на один год было большой
                    ошибкой, ведь в итоге я осталась без обоих зайцев(обучение и там и там я закончила, но без отличия),
                    к тому же в том году я ещё занималась подготовкой к олимпиадам, что тоже отнимало много
                    времени.</h2>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>