:root {
    --color1: #eaf2e3;
    --colorR: #d58d83;
    --colorY: #ebc85f;
    --colorG: #85e0a3;
    --colorB: #8390a3;
}

header{
  padding: 100px 0;
  background: var(--color1);
}

section{
  padding: 50px 0;
  background: var(--color1);
}
.colorR{
  color: var(--colorR)
}
.colorY{
  color: var(--colorY)
}
.colorG{
  color: var(--colorG)
}
.colorB{
  color: var(--colorB)
}
.aligncenter {
    text-align: center;
}